.loginScreen {
    font-family: 'Cairo', sans-serif;
    margin-top: 200px;
}

img {
    max-width: 100%;
}

.btn {
    margin-inline-start: 10%;
    margin-right: 10%; 
    text-align: center;
    background-color: #8c92ac;
    color: #ffffff;
}